venv
.git
.gitignore

__pycache__
*.pyc
*.pyo
*.pyd

.env

.idea
.vscode

*.db
*.sqlite
*.sqlite3

.ipynb_checkpoints

uploaded_datasets/*
!uploaded_datasets/.gitkeep

logs
tmp
cache

node_modules

dist
build

*.log